<%- include('header.ejs') %>
<main>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.0273040159555!2d-1.5348418999999998!3d47.23561180000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805eef1822a142f%3A0x18887cec6922e7fa!2s25%20Bd%20Jules%20Verne%2C%2044300%20Nantes!5e0!3m2!1sfr!2sfr!4v1696346056383!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
<%- include('footer.ejs') %>  