<%- include('header.ejs') %>
<main>
        <section class="bienvenue">
            <article class="descriptif">
                <h2>Bienvenue au Cabinet de Kinésiothérapie</h2>
                <p>Notre cabinet de kinésiothérapie est dédié à vous offrir des soins spécialisés visant à améliorer votre mobilité, votre bien-être et votre qualité de vie. Situé sur le Bd Jules Verne, notre équipe expérimentée de kinésiothérapeutes certifiés
                    est là pour vous accompagner tout au long de votre parcours vers la récupération et la santé optimale. </p>
                <p>Nos professionnels de la kinésiothérapie sont passionnés par leur métier et s'engagent à concevoir des programmes de traitement personnalisés pour répondre à vos besoins uniques. Nous mettons l'accent sur l'évaluation approfondie, le diagnostic
                    précis et la mise en œuvre de techniques avancées pour soulager la douleur, restaurer la fonctionnalité et favoriser la guérison.</p>
            </article>
            <figure class="overlay-image">
                <img src="nantes.jpeg" alt="vue de cabinet exterieur">
                <figcaption class="hover-image">
                    <p class="br"><strong>Bienvenue</strong> </p>
                </figcaption>
            </figure>

        </section>
        <section class="salle-individ">
            <article class="descriptif">
                <h2>Nos pratiques </h2>
                <p>Ondes de choc : Les ondes de choc sont des impulsions acoustiques à haute énergie qui ciblent précisément les zones touchées du corps. Elles sont utilisées pour traiter diverses affections musculo-squelettiques, comme les tendinopathies,
                    les calcifications, les douleurs chroniques et les blessures sportives. Nos kinésiothérapeutes experts utilisent cette technique non invasive pour stimuler la guérison des tissus, améliorer la circulation sanguine et réduire la douleur,
                    vous permettant de retrouver votre mobilité et votre qualité de vie.</p>
                <p>Ultrasons : Les ultrasons sont des vibrations sonores à haute fréquence qui pénètrent en douceur dans les tissus profonds du corps. Ils favorisent la circulation sanguine, détendent les muscles tendus et réduisent l'inflammation.</p>

                <p>Au sein de notre cabinet, ces thérapies complémentaires, administrées par nos professionnels compétents et bien formés, viennent enrichir nos approches de traitement globales. </p>
            </article>
            <figure class="overlay-image">
                <img src="salle_individ.jpg" alt="salle indiviuelle">
                <figcaption class="hover-image">
                    <p class="br"><strong>Nos salle</strong> </p>
                </figcaption>
            </figure>

        </section>
        <section class="salle-reeduc">
            <article class="descriptif">
                <h2>Salle de rééducation</h2>
                <p>Notre salle de rééducation est un espace spécialement conçu pour vous aider à récupérer, renforcer vos muscles et améliorer votre mobilité. Équipée d'appareils modernes et adaptés, cette salle offre un environnement propice à votre rééducation
                    sous la supervision experte de nos kinésiothérapeutes qualifiés.</p>
                <p>Dans cet espace, vous bénéficierez d'exercices ciblés et personnalisés visant à rétablir et à améliorer votre fonctionnalité. Que ce soit après une chirurgie, une blessure ou pour traiter une condition médicale, notre équipe veillera à
                    ce que chaque séance dans cette salle vous rapproche de vos objectifs de rééducation.</p>
            </article>
            <figure class="overlay-image">
                <img src="salle-reeduc.jpg" alt="salle de reeducation">
                <figcaption class="hover-image">
                    <p class="br"><strong>Notre salle de groupe</strong> </p>
                </figcaption>
            </figure>
        </section>
    </main>
<%- include('footer.ejs') %>  