<footer>
    <ul class="foot">
        <h2>Horaires:</h2>
        <li>Lundi: 8:30-19.00</li>
        <li>Mardi: 8:30-19.00</li>
        <li>Mercredi: 8:30-19.00</li>
        <li>Jeudi: 8:30-19.00</li>
        <li>Vendredi: 8:30-19.00</li>
    </ul>
    <ul class="foot">
        <h2>Adresse:</h2>
        <li>25 Bd Jules Verne</li>
        <li>44300 Nantes</li>
    </ul>
    <ul class="foot">
        <h2>Praticiens:</h2>
        <li>Jean-Paul Gautier</li>
        <li>Christien Labotomie</li>
        <li>Julie Felan</li>
        <li>Joseph De Boudoir</li>
    </ul>
</footer>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
<script type="text/javascript" src="/script.js"></script>
</body>

</html>
 