<footer>
    <ul class="foot">
        <li><strong>Horaires:</strong></li>
        <li>Lundi: 8:30-19.00</li>
        <li>Mardi: 8:30-19.00</li>
        <li>Mercredi: 8:30-19.00</li>
        <li>Jeudi: 8:30-19.00</li>
        <li>Vendredi: 8:30-19.00</li>
    </ul>
    
        <ul class="foot">
            <li><strong>Adresse:</strong></li>
            <li>25 Bd Jules Verne</li>
            <li>44300 Nantes</li>
        </ul>
   
    <ul class="foot">
        <li><strong>Praticiens:</strong></li>
        <li>Jean-Paul Gautier</li>
        <li>Christien Labotomie</li>
        <li>Lila Simon</li>
        <li>Joseph De Boudoir</li>
    </ul>
</footer>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
<script  src="/script.js"></script>
</body>

</html>
 