 <footer>
<ul class="foot">Horaires:
    <li>Lundi:       8:30-19.00</li>
    <li>Mardi:       8:30-19.00</li>
    <li>Mercredi:  8:30-19.00</li>
    <li>Jeudi:        8:30-19.00</li>
    <li>Vendredi:  8:30-19.00</li>
    
</ul>
<ul class="foot">Praticiens:
    <li>Jean-Paul Gautier</li>
    <li>Christien Labotomie</li>
    <li>Julie Felan</li>
    <li>Joseph De Boudoir</li>
</ul>
<ul class="foot">Adresse:
    <li>25 Bd Jules Verne</li>
    <li>44300 Nantes</li>
</ul>
    </footer>
</body>
</html>