<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.jpg" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Cabinet Jules Verne Nantes</title>
</head>

<body>

    <header>
        <div class="accesible">
            <div class="accessibility">
                <div class="switch light-dark-switch">
                    <input type="checkbox" id="lightDarkSwitchInput" />
                    <div class="button"></div>
                </div>
                <div  class="switch dys-switch">
                    <input type="checkbox" id="dysSwitchInput" />
                    <div class="button"></div>
                </div>
                <div  class="switch big-font-switch">
                    <input type="checkbox" id="bigFontSwitchInput" />
                    <div class="button"></div>
                </div>
            
                <a href="#" id="openBtn">
                    <div class="burger" id="burger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </a>
            </div>
        </div>
        <section class="menu">
            <div class="logo">
                <img class="symbol" src="/nom.png" alt="logo kiné">
                <h3 class="nom">Ordre des masseurs-kinésithérapeutes</h3>
            </div>
            <h1>Cabinet Jules Verne</h1>
        </section>
        <nav class="navbar" id="navbarMenu">
            <a id="closeBtn" href="#" class="close">×</a>
            <ul class="list">
                <li class="marg"><a href="/" class="link-navbar"><strong>Cabinet</strong></a></li>
                <li class="marg"><a href="/rdv" class="link-navbar"><strong>Prendre RDV</strong></a></li>
                <li class="marg"><a href="/acces" class="link-navbar"><strong>Accès</strong></a></li>
                <li class="marg"><a href="/login" class="link-navbar"><strong>Mon Profil</strong></a></li>
            </ul>
        </nav>
    </header>
