<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>Error 404 not found</title>
</head>

<body>

    <h1>Error 404 not found</h1>
</body>

</html>

