/*************************************************************************/

/*                          Géneraux                                     */

/*************************************************************************/

/**************************** Open Dyslexic ****************************/

@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic/OpenDyslexic-Regular.eot') format("embedded-opentype"),
    url("OpenDyslexic/OpenDyslexic-Regular.otf") format("opentype"),
    url("OpenDyslexic/OpenDyslexic-Regular.woff") format("woff"),
    url("OpenDyslexic/OpenDyslexic-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic/OpenDyslexic-Bold.eot') format("embedded-opentype"),
    url("OpenDyslexic/OpenDyslexic-Bold.otf") format("opentype"),
    url("OpenDyslexic/OpenDyslexic-Bold.woff") format("woff"),
    url("OpenDyslexic/OpenDyslexic-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic/OpenDyslexic-Italic.eot') format("embedded-opentype"),
    url("OpenDyslexic/OpenDyslexic-Italic.otf") format("opentype"),
    url("OpenDyslexic/OpenDyslexic-Italic.woff") format("woff"),
    url("OpenDyslexic/OpenDyslexic-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic/OpenDyslexic-Bold-Italic.eot') format("embedded-opentype"),
    url("OpenDyslexic/OpenDyslexic-Bold-Italic.otf") format("opentype"),
    url("OpenDyslexic/OpenDyslexic-Bold-Italic.woff") format("woff"),
    url("OpenDyslexic/OpenDyslexic-Bold-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
}


/**************************** Variables ****************************/

:root {
    --color-pages-background: url("/100.jpg");
    --color-page-background: #FFF;
    --color-text: #000;
    --color-border: #CCC;
    --button-color-background:#fff;
    --button-color-text: var(--color-text);
    --button-color-border: var(--button-color-text);
    --link-color: #000;
    --link-visited-color: #000;
    --panel-color-background: rgb(37, 37, 38);
    --panel-color-text: lightgoldenrodyellow;
    --panel-color-border: var(--button-color-border);
    --font-family: ' EB Garamond', serif;
    --font-family-code: monospace, monospace;
    --font-size: 1em;
    --line-height: 2em;
    --border-radius: 0.25em;
    --button-border: 0.1em solid var(--button-color-border);
    --button-border-radius: var(--border-radius);
    --header-background: url("/13.jpg");
    --footer-background: url("/16.jpg");
    --input-color-background: var(--color-page-background);
    --ul-planning-background-color: #C3D1DB;
    --color-switch: color:white;
}

/************************** Accessibility **************************/

.dark {
    --color-pages-background: url("/fond.png");
    /*rgb(30, 30, 30);*/
    --color-page-background: rgb(30, 30, 30);
    --color-text: #FFF;
    --color-border: #666;
    --button-color-background: var(--color-page-background);
    --button-color-text: lightgoldenrodyellow;
    --button-color-border: var(--button-color-text);
    --link-color: #FFF;
    --link-visited-color: #FFF;
    --panel-color-border: var(--button-color-border);
    --button-border: 0.1em solid var(--button-color-border);
    --header-background: var(--color-page-background);
    --footer-background: var(--color-page-background);
    --input-color-background: rgb(85, 85, 85);
    --ul-planning-background-color: var(--input-color-background);
    --color-switch: var(--color-text);
}

.dys {
    --font-family: 'OpenDyslexic', cursive;
    --font-family-code: 'OpenDyslexic', cursive;
}

.bigFont {
    --font-size: 1.5rem;
}

/***************************** Globals *****************************/

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 1em;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

::-webkit-scrollbar-track {
    background: rgb(21, 21, 21);
    border-radius: 1em;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: var(--color-page-background);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    width: 100%;
}

button,
label,
select {
    background-color: var(--button-color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding:1%;
    
}

input[type] {
    background-color: var(--input-color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);

}

button {
    cursor: pointer;
    background-color: var(--button-color-background);
    color: var(--button-color-text);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

/*************************************************************************/

/*                          Boutons Accessibilité                        */

/*************************************************************************/

/**************************** Generic classes ****************************/

.accessibility {
    font-size: 1.5rem;
    line-height: 3rem;
}

.switch {
    position: relative;
    display: inline-block;
    height: 1.5em;
    width: 3em;
    background-color: var(--color-text);
    color: var(--button-color-background);
    border-radius: 1em;
    cursor: pointer;
}

.switch::before {
    display: block;
    position: absolute;
    font-family: cursive;
}

.switch::after {
    display: block;
    position: absolute;
    font-family: cursive;
}

.switch input {
    visibility: hidden;
}

.switch .button {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    display: block;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    background-color: var(--button-color-background);
    transition: left 0.5s ease;
}

.switch input:checked+.button {
    left: calc(3em - 0.1em - 1.3em);
}

/************************** Light / Dark Switch **************************/

.light-dark-switch::before {
    top: -0.27em;
    left: 0.15em;
    font-size: 1.2em;
    content: '☼';
}

.light-dark-switch::after {
    top: -0.25em;
    left: 1.4em;
    font-size: 1.3em;
    content: '☾';
}

/************************** Dyslexic Switch **************************/

.dys-switch::before {
    top: -0.2em;
    left: 0.22em;
    font-size: 1.3em;
    content: 'A';
    font-family: serif;
}

.dys-switch::after {
    top: -0.25em;
    left: 1.35em;
    font-size: 1.3em;
    content: 'A';
}

/************************** Font size switch **************************/

.big-font-switch::before {
    top: -0.4em;
    left: 0.4em;
    font-size: 0.7em;
    content: 'A-';
}

.big-font-switch::after {
    top: -0.27em;
    left: 1.7em;
    font-size: 1em;
    content: 'A+';
}



/*********************************************************************/

/*                           Header                                 */

/*********************************************************************/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    background-image: var(--header-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

}

.symbol {
    width: 50%;
    height: auto;
}

.logo {
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 40%;
    height: auto;
}

h1,
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

h1 {
    text-shadow: #FAFAFA 1px 0 10px;
    font-size: clamp(1.875rem, 1.5909rem + 1.2121vw, 2.5rem);
}

h3 {
    text-shadow: #fafafa 1px 0 5px;
    color: #04252E;
    text-align: center;
    font-size: clamp(1.25rem, 0.9659rem + 1.2121vw, 1.875rem);
}

a {
    text-decoration: none;
}

.close {
    display: none;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    margin: 1%;

}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.link-navbar {
    border-radius: 7px;
    box-shadow: 5px 5px 10px 5px #000000;
    background-color: var(--input-color-background);
    color: var(--link-visited-color);
    color: var(--link-color);
    text-shadow: #FAFAFA 1px 0 10px;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;

}

.marg {
    padding: 3%;
    margin: 0%;
    transition: all .2s ease-in-out;
    min-width: 10em;
}

.marg:hover {
    transform: scale(1.3);
}

.menu {
    width: 100%;
    display: flex;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.link-navbar {
    animation: slidein 2s;
}

.link-navbar:hover {
    color: #D21F3D;
}

.accesible {
    margin: 1%;
    display: flex;
    flex-direction: space-around;
}

/*********************************************************************/

/*                        Footer                                     */

/*********************************************************************/

footer {
    background-image: var(--footer-background);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


/*********************************************************************/

/*                         Cabinet                                   */

/*********************************************************************/

main {
    background-image: var(--color-pages-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2%;
}


.liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


ul {
    list-style-type: none;
    padding: 0;
}

button {
    width: 10%;
    height: 7%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.br {
    font-size: 30px;
    padding: 5%;
    border: 2px solid white;
    text-align: center;
}

.hover-image {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 50, 100, 0.4);
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: opacity 0.25s ease-in-out;

}

.overlay-image:hover .hover-image {
    opacity: 1;
}

.bienvenue,
.salle-reeduc,
.salle-individ {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
article {
    width: 100%;
}


.title {
    color: #b80025;
}

.bienvenue,
.salle-reeduc {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    margin: 5%;

}

.descriptif {
    width: 100%;
    height: auto;
}

.salle-individ {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*********************************************************************/

/*                       Modal                                       */

/*********************************************************************/
.hidden-modal {
    display:none;
}


/*********************************************************************/

/*                       Prendre RDV                                 */

/*********************************************************************/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 1%;
    border-radius: 5px;
    
}

.btnRdv,
.login {
    width: auto;
    height: 7%;
    margin-top: 1%;
    align-items: center;
}

/*********************************************************************/

/*                           Accés                                   */

/*********************************************************************/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-top:1%;
}

.infoPratique {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    height: auto;
}


.carte {
    margin: 5%;
    padding: 0;
}

iframe {
    width: 100%;
}

/*********************************************************************/

/*                       Mon profil                                  */

/*********************************************************************/

.profil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    width: 100%;
}

.list-rdv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

ul.list-rdv li {
    margin: 1%;

}

.liPlanning {
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ulPlanning {
    margin: 2%;
    background-color: var(--ul-planning-background-color);
    padding: 1%;
}

.planning {
    width: 100%;
    background-color: var(--input-color-background);
    font-size: 16px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.planning:hover {
    background-color: #D21F3D;
    ;
    color: white;
}

#search {
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: space-around;
}

.pop {
    display: block;
    width: 100px;
    height: 50px;

}

/*********************************************************************/

/*                   Version Mobile                                  */

/*********************************************************************/

@media (max-width: 768px) {

    .navbar .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    .navbar.active {
        right: 0;
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #e8e8e8;
        padding-top: 10px;
        transition: left 0.5s ease;
    }
    .burger .bar {
        display: block;
        width: 35px;
        height: 5px;
        background-color: var(--link-color);
        margin: 6px 0;
        border-radius: 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .bar {
        padding: 0.5% 0.5% 0.5% 10%;
        text-decoration: none;
        font-size: 10px;
        display: block;
        transition: 0.3s;

    }
    .list {
        display: flex;
        flex-direction: column;
    }
    .burger {
        margin: 0 10%;
    }
    .accessibility {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .accesible {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    article,
    .bienvenue,
    .salle-reeduc,
    .salle-individ {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .infoPratique {
        display: flex;
        flex-direction: column;
    }


    .info {
        margin: 1%;
    }
    #search {
        display: flex;
        flex-direction: column;
    }
    .link-navbar {
        animation: slidein 1s;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20%;
        background-image: var(--header-background);
        background-size: 100%;
    }
    .profil {
        display: flex;
        flex-direction: column;
        margin: 2%;

    }
}

/*********************************************************************/

/*                   Version Tablette                                */

/*********************************************************************/

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20%;
        background-image: var(--header-background);
        background-size: 100%;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    article,
    .bienvenue,
    .salle-reeduc,
    .salle-individ {
        display: flex;
        flex-direction: column;
    }
}
